

/* Hur all text visas om inget annat anges*/
.section-body {
  text-decoration: none;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

a:hover {
    text-decoration: underline
}

/* Styling för Title */
.section-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    
}

/* Styling för första Subtitle */
.section-subtitle {
  color: white;
  font-weight: bold;
}

/* Styling för text subtitle-text */
.section-subtitle-text {
  color: #b3b3b3;
}

/* "Visa alla" till höger om titel */
.see-all-link a {
  color: #b3b3b3;
  font-size: 0.9rem;
  font-weight: bold;
}






