main {
  background-color: #181818;
  background-size: cover;
  background-repeat: repeat;
  border-radius: 8px;
  min-height: 100vh;
  flex-grow: 1;
  padding: 20px;
  margin-top: 0px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-body {
  color: white;
  font-weight: 700;
  white-space: nowrap;
}

.section-title h2 a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.see-all-link a {
  color: #b3b3b3;
  font-size: 0.9rem;
  font-weight: bold;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(180px, 1fr));
  gap: 8px;
  overflow: hidden;
}

.card {
  background-color: #181818;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-align: left;
  position: relative;
  transition: background 0.3s;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.card:hover {
  background-color: #282828;
}

.card-image img,
.card-round-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.card-round-image img {
  border-radius: 50%;
}

.card-title a {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.card-subtitle a {
  color: #b3b3b3;
  font-size: 0.85rem;
  text-decoration: none;
}

.card-text {
  color: #b3b3b3;
  font-size: 0.85rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}