.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  background-color: #121212;
  background-size: cover;
  background-repeat: repeat;
  margin-top: 1px;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 0;
  margin-right: 15px;
  margin-left: 426px;
  max-width: calc(100% - 426px - 15px);


}

section {
  margin-bottom: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  /* Inget extra avstånd ovanför första sektionen */
  margin-top: 0;
}

.section-body {
  color: white;
  font-weight: 700;
  white-space: nowrap;
}

.section-title h2 a {
  color: white;
  letter-spacing: -0.5px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
}

.see-all-link a {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(136px, 1fr));
  gap: 12px;
  padding-bottom: 0;
  margin-bottom: 24px;
  padding-right: 20px;
}

.card-grid::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: #121212;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  position: relative;
  transition: background 0.3s;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.card:hover {
  background-color: #282828;
}

.card-image img,
.card-round-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.card-round-image img {
  border-radius: 50%;
}

.card-title a {
  color: white;
  font-size: 16px;
  margin-top: 8px;
  display: block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.card-subtitle a {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  white-space: normal;
  word-break: break-word;
  font-family: 'Poppins', sans-serif;
}

.card-text {
  color: #b3b3b3;
  font-size: 0.85rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Mobile styles */
@media screen and (max-width: 600px) {

  main {
    flex-grow: 1;
    padding: 16px;
    max-width: 100%;
    border-radius: 8px;
  }

  .card {
    height: auto;
  }

}